<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.planner">

    <uses-permission android:name="com.leepsip.planner.permission.C2D_MESSAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="com.sec.android.provider.badge.permission.READ" />
    <uses-permission android:name="com.sec.android.provider.badge.permission.WRITE" />
    <uses-permission android:name="com.htc.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="com.htc.launcher.permission.UPDATE_SHORTCUT" />
    <uses-permission android:name="com.sonyericsson.home.permission.BROADCAST_BADGE" />
    <uses-permission android:name="com.sonymobile.home.permission.PROVIDER_INSERT_BADGE" />
    <uses-permission android:name="com.anddoes.launcher.permission.UPDATE_COUNT" />
    <uses-permission android:name="com.majeur.launcher.permission.UPDATE_BADGE" />
    <uses-permission android:name="com.huawei.android.launcher.permission.CHANGE_BADGE" />
    <uses-permission android:name="com.huawei.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="com.huawei.android.launcher.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.READ_APP_BADGE" />
    <uses-permission android:name="com.oppo.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="com.oppo.launcher.permission.WRITE_SETTINGS" />
    <uses-permission android:name="me.everything.badger.permission.BADGE_COUNT_READ" />
    <uses-permission android:name="me.everything.badger.permission.BADGE_COUNT_WRITE" />

    <application
        android:name="com.example.planner.MyApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/appid" />

        <activity android:name="com.example.planner.ActivitySplash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.planner.ActivityMyMainDrawer"
            android:label="@string/title_activity_my_drawer"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.example.planner.MyPlan.ActivityEditingPlan"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.example.planner.MyPlan.ActivityMyPlans"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.example.planner.MyPlan.ActivityAddingPlans"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.example.planner.STP.ActivityCalculatingSTP"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.example.planner.ActivityPlanningSIP"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.example.planner.SWP.ActivityCalculatingSWP"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.example.planner.SIP.ActivitySipCalculation"
            android:windowSoftInputMode="adjustPan" />
    </application>

</manifest>